/* 
Psst, hey, let me share a secret with you.
IM SHIT AT FRONTEND. (and I fucking hate it.)
So if you see a few abominations in this css file,
just ignore them,
or pull request something much better.
Thanks.
*/
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  -ms-touch-action: manipulation;	/* IE10  */
	touch-action: manipulation;
}

h1#player, h3#shitTalk {
  font-size: 48px;
  top: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

h3#shitTalk {
  top: 90px;
  font-size: 24px;
}


div#boss {
  height: 400px;
  width: 400px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0;
}

div > div {
  height: 33.33%;
  width: 33.33%;
  display: inline-block;
  position: relative;
}

/* tfw you cba to use scss */

div > div[data-pos="0"] {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

div > div[data-pos="1"] {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

div > div[data-pos="2"] {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

div > div[data-pos="3"] {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

div > div[data-pos="4"] {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

div > div[data-pos="5"] {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

div > div[data-pos="6"] {
  border-top: 1px solid black;
  border-right: 1px solid black;
}

div > div[data-pos="7"] {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

div > div[data-pos="8"] {
  border-top: 1px solid black;
  border-left: 1px solid black;
}

span.nought {
  position: absolute;
  height: 100px;
  width: 100px;
  display: inline-block;
  border-radius: 50%;
  border: 4px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

span.cross {
  position: absolute;
  height: 100px;
  width: 100px;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

span.cross > span:nth-child(1) {
  height: 133.33%;
  width: 4px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

span.cross > span:nth-child(2) {
  height: 133.33%;
  width: 4px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}